[submodule "Grounded-Segment-Anything"]
	path = Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything
[submodule "Segment-Everything-Everywhere-All-At-Once"]
	path = Segment-Everything-Everywhere-All-At-Once
	url = https://github.com/UX-Decoder/Segment-Everything-Everywhere-All-At-Once
